# Gradle
.gradle/
build/
*/build/

# Android Studio
.idea/
*.iml
.gradle
/local.properties

# Log files
*.log

# Generated
captures/
.externalNativeBuild/
.cxx/

# Keystore files
*.jks
*.keystore

# Misc
.DS_Store
